*~
*.o
*.a
*.html
*.csv
*.powertop
ChangeLog
Makefile.in
aclocal.m4
config.guess
config.h.in
config.rpath
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
Makefile
config.h
config.log
config.status
libtool
pevent/.deps/
pevent/Makefile
pevent/Makefile.in
po/Makefile
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/*.gmo
po/stamp-po
src/powertop
src/css.h
src/Makefile.in
src/.deps/
src/Makefile
src/calibrate/.deps/
src/cpu/.deps/
src/devices/.deps/
src/measurement/.deps/
src/parameters/.deps/
src/perf/.deps/
src/process/.deps/
src/tuning/.deps/
src/report/.deps/
m4
*.dirstamp
*.lo
*.la
autom4te.cache
remove-potcdate.sed
compile
stamp-po
ABOUT-NLS
ar-lib
traceevent/.deps/
traceevents/.libs/
