# regular expressions
*.a
*.csv
*.dirstamp
*.html
*.la
*.lo
*.o
*.powertop
*~
.deps
/po/*.gmo
Makefile
Makefile.in

# directories
/m4/

# individual files
/ABOUT-NLS
/ChangeLog
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-po
/remove-potcdate.sed
/src/css.h
/src/powertop
/stamp-h1
/stamp-po
