[Unit]
Description=Extend the battery life of laptop

[Service]
Type=oneshot
ExecStart=/usr/sbin/powertop --auto-tune

[Install]
WantedBy=multi-user.target sleep.target
