<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\">
<html>
<head>
<title>PowerTOP report</title>
<meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">
<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js\"></script>
<script type=\"text/javascript\">
$(document).ready(function(){

	$('#system h2').addClass('hide');
	$('#system table').addClass('hide');
	$('#cpuidle h2').addClass('hide');
	$('#cpuidle table').addClass('hide');
	$('#cpufreq h2').addClass('hide');
	$('#cpufreq table').addClass('hide');
	$('#software h2').addClass('hide');
	$('#software table').addClass('hide');
	$('#device h2').addClass('hide');
	$('#device table').addClass('hide');
	$('#device p').addClass('hide');
	$('#tuning h2').addClass('hide');
	$('#tuning table').addClass('hide');

	$('#top').append('<div class=\"SystemButton\"   onclick=\"toggleSystem()\">System Info</div>');
	$('#top').append('<div class=\"SummaryButton\"  onclick=\"toggleSummary()\">Summary</div>');
	$('#top').append('<div class=\"CpuidleButton\"  onclick=\"toggleCpuidle()\">CPU Idle</div>');
	$('#top').append('<div class=\"CpufreqButton\"  onclick=\"toggleCpufreq()\">CPU Frequency</div>');
	$('#top').append('<div class=\"SoftwareButton\" onclick=\"toggleSoftware()\">Software info</div>');
	$('#top').append('<div class=\"DeviceButton\"   onclick=\"toggleDevice()\">Device Info</div>');
	$('#top').append('<div class=\"TuningButton\"   onclick=\"toggleTuning()\">Tuning</div>');
	$('#top').append('<div class=\"AllButton\"      onclick=\"toggleAll()\">All</div>');
	$('#top .SummaryButton').toggleClass('pressed');

    }
	);
function toggleDummy() {
		$('#system table').toggleClass('hide', true);
		$('#system h2').toggleClass('hide', true);
		$('#summary table').toggleClass('hide', true);
		$('#summary h2').toggleClass('hide', true);
		$('#summary p').toggleClass('hide', true);
		$('#cpuidle table').toggleClass('hide', true);
		$('#cpuidle h2').toggleClass('hide', true);
		$('#cpufreq table').toggleClass('hide', true);
		$('#cpufreq h2').toggleClass('hide', true);
		$('#software table').toggleClass('hide', true);
		$('#software h2').toggleClass('hide', true);
		$('#device table').toggleClass('hide', true);
		$('#device h2').toggleClass('hide', true);
		$('#device p').toggleClass('hide', true);
		$('#tuning table').toggleClass('hide', true);
		$('#tuning h2').toggleClass('hide', true);
		$('#top .SystemButton').toggleClass('pressed', false);
		$('#top .SummaryButton').toggleClass('pressed', false);
		$('#top .CpuidleButton').toggleClass('pressed', false);
		$('#top .CpufreqButton').toggleClass('pressed', false);
		$('#top .SoftwareButton').toggleClass('pressed', false);
		$('#top .DeviceButton').toggleClass('pressed', false);
		$('#top .TuningButton').toggleClass('pressed', false);
		$('#top .AllButton').toggleClass('pressed', false);
}
function toggleSystem() {
		$('#system table').toggleClass('hide', false);
		$('#system h2').toggleClass('hide', false);
		$('#summary table').toggleClass('hide', true);
		$('#summary h2').toggleClass('hide', true);
		$('#summary p').toggleClass('hide', true);
		$('#cpuidle table').toggleClass('hide', true);
		$('#cpuidle h2').toggleClass('hide', true);
		$('#cpufreq table').toggleClass('hide', true);
		$('#cpufreq h2').toggleClass('hide', true);
		$('#software table').toggleClass('hide', true);
		$('#software h2').toggleClass('hide', true);
		$('#device table').toggleClass('hide', true);
		$('#device h2').toggleClass('hide', true);
		$('#device p').toggleClass('hide', true);
		$('#tuning table').toggleClass('hide', true);
		$('#tuning h2').toggleClass('hide', true);
		$('#top .SystemButton').toggleClass('pressed', true);
		$('#top .SummaryButton').toggleClass('pressed', false);
		$('#top .CpuidleButton').toggleClass('pressed', false);
		$('#top .CpufreqButton').toggleClass('pressed', false);
		$('#top .SoftwareButton').toggleClass('pressed', false);
		$('#top .DeviceButton').toggleClass('pressed', false);
		$('#top .TuningButton').toggleClass('pressed', false);
		$('#top .AllButton').toggleClass('pressed', false);
}
function toggleSummary() {
		$('#system table').toggleClass('hide', true);
		$('#system h2').toggleClass('hide', true);
		$('#summary table').toggleClass('hide', false);
		$('#summary h2').toggleClass('hide', false);
		$('#summary p').toggleClass('hide', false);
		$('#cpuidle table').toggleClass('hide', true);
		$('#cpuidle h2').toggleClass('hide', true);
		$('#cpufreq table').toggleClass('hide', true);
		$('#cpufreq h2').toggleClass('hide', true);
		$('#software table').toggleClass('hide', true);
		$('#software h2').toggleClass('hide', true);
		$('#device table').toggleClass('hide', true);
		$('#device h2').toggleClass('hide', true);
		$('#device p').toggleClass('hide', true);
		$('#tuning table').toggleClass('hide', true);
		$('#tuning h2').toggleClass('hide', true);
		$('#top .SystemButton').toggleClass('pressed', false);
		$('#top .SummaryButton').toggleClass('pressed', true);
		$('#top .CpuidleButton').toggleClass('pressed', false);
		$('#top .CpufreqButton').toggleClass('pressed', false);
		$('#top .SoftwareButton').toggleClass('pressed', false);
		$('#top .DeviceButton').toggleClass('pressed', false);
		$('#top .TuningButton').toggleClass('pressed', false);
		$('#top .AllButton').toggleClass('pressed', false);
}
function toggleCpuidle() {
		$('#system table').toggleClass('hide', true);
		$('#system h2').toggleClass('hide', true);
		$('#summary table').toggleClass('hide', true);
		$('#summary h2').toggleClass('hide', true);
		$('#summary p').toggleClass('hide', true);
		$('#cpuidle table').toggleClass('hide', false);
		$('#cpuidle h2').toggleClass('hide', false);
		$('#cpufreq table').toggleClass('hide', true);
		$('#cpufreq h2').toggleClass('hide', true);
		$('#software table').toggleClass('hide', true);
		$('#software h2').toggleClass('hide', true);
		$('#device table').toggleClass('hide', true);
		$('#device h2').toggleClass('hide', true);
		$('#device p').toggleClass('hide', true);
		$('#tuning table').toggleClass('hide', true);
		$('#tuning h2').toggleClass('hide', true);
		$('#top .SystemButton').toggleClass('pressed', false);
		$('#top .SummaryButton').toggleClass('pressed', false);
		$('#top .CpuidleButton').toggleClass('pressed', true);
		$('#top .CpufreqButton').toggleClass('pressed', false);
		$('#top .SoftwareButton').toggleClass('pressed', false);
		$('#top .DeviceButton').toggleClass('pressed', false);
		$('#top .TuningButton').toggleClass('pressed', false);
		$('#top .AllButton').toggleClass('pressed', false);

}
function toggleCpufreq() {
		$('#system table').toggleClass('hide', true);
		$('#system h2').toggleClass('hide', true);
		$('#summary table').toggleClass('hide', true);
		$('#summary h2').toggleClass('hide', true);
		$('#summary p').toggleClass('hide', true);
		$('#cpuidle table').toggleClass('hide', true);
		$('#cpuidle h2').toggleClass('hide', true);
		$('#cpufreq table').toggleClass('hide', false);
		$('#cpufreq h2').toggleClass('hide', false);
		$('#software table').toggleClass('hide', true);
		$('#software h2').toggleClass('hide', true);
		$('#device table').toggleClass('hide', true);
		$('#device h2').toggleClass('hide', true);
		$('#device p').toggleClass('hide', true);
		$('#tuning table').toggleClass('hide', true);
		$('#tuning h2').toggleClass('hide', true);
		$('#top .SystemButton').toggleClass('pressed', false);
		$('#top .SummaryButton').toggleClass('pressed', false);
		$('#top .CpuidleButton').toggleClass('pressed', false);
		$('#top .CpufreqButton').toggleClass('pressed', true);
		$('#top .SoftwareButton').toggleClass('pressed', false);
		$('#top .DeviceButton').toggleClass('pressed', false);
		$('#top .TuningButton').toggleClass('pressed', false);
		$('#top .AllButton').toggleClass('pressed', false);
}

function toggleSoftware() {
		$('#system table').toggleClass('hide', true);
		$('#system h2').toggleClass('hide', true);
		$('#summary table').toggleClass('hide', true);
		$('#summary h2').toggleClass('hide', true);
		$('#summary p').toggleClass('hide', true);
		$('#cpuidle table').toggleClass('hide', true);
		$('#cpuidle h2').toggleClass('hide', true);
		$('#cpufreq table').toggleClass('hide', true);
		$('#cpufreq h2').toggleClass('hide', true);
		$('#software table').toggleClass('hide', false);
		$('#software h2').toggleClass('hide', false);
		$('#device table').toggleClass('hide', true);
		$('#device h2').toggleClass('hide', true);
		$('#device p').toggleClass('hide', true);
		$('#tuning table').toggleClass('hide', true);
		$('#tuning h2').toggleClass('hide', true);
		$('#top .SystemButton').toggleClass('pressed', false);
		$('#top .SummaryButton').toggleClass('pressed', false);
		$('#top .CpuidleButton').toggleClass('pressed', false);
		$('#top .CpufreqButton').toggleClass('pressed', false);
		$('#top .SoftwareButton').toggleClass('pressed', true);
		$('#top .DeviceButton').toggleClass('pressed', false);
		$('#top .TuningButton').toggleClass('pressed', false);
		$('#top .AllButton').toggleClass('pressed', false);
}

function toggleDevice() {
		$('#system table').toggleClass('hide', true);
		$('#system h2').toggleClass('hide', true);
		$('#summary table').toggleClass('hide', true);
		$('#summary h2').toggleClass('hide', true);
		$('#summary p').toggleClass('hide', true);
		$('#cpuidle table').toggleClass('hide', true);
		$('#cpuidle h2').toggleClass('hide', true);
		$('#cpufreq table').toggleClass('hide', true);
		$('#cpufreq h2').toggleClass('hide', true);
		$('#software table').toggleClass('hide', true);
		$('#software h2').toggleClass('hide', true);
		$('#device table').toggleClass('hide', false);
		$('#device h2').toggleClass('hide', false);
		$('#device p').toggleClass('hide', false);
		$('#tuning table').toggleClass('hide', true);
		$('#tuning h2').toggleClass('hide', true);
		$('#top .SystemButton').toggleClass('pressed', false);
		$('#top .SummaryButton').toggleClass('pressed', false);
		$('#top .CpuidleButton').toggleClass('pressed', false);
		$('#top .CpufreqButton').toggleClass('pressed', false);
		$('#top .SoftwareButton').toggleClass('pressed', false);
		$('#top .DeviceButton').toggleClass('pressed', true);
		$('#top .TuningButton').toggleClass('pressed', false);
		$('#top .AllButton').toggleClass('pressed', false);
}

function toggleTuning() {
		$('#system table').toggleClass('hide', true);
		$('#system h2').toggleClass('hide', true);
		$('#summary table').toggleClass('hide', true);
		$('#summary h2').toggleClass('hide', true);
		$('#summary p').toggleClass('hide', true);
		$('#cpuidle table').toggleClass('hide', true);
		$('#cpuidle h2').toggleClass('hide', true);
		$('#cpufreq table').toggleClass('hide', true);
		$('#cpufreq h2').toggleClass('hide', true);
		$('#software table').toggleClass('hide', true);
		$('#software h2').toggleClass('hide', true);
		$('#device table').toggleClass('hide', true);
		$('#device h2').toggleClass('hide', true);
		$('#device p').toggleClass('hide', true);
		$('#tuning table').toggleClass('hide', false);
		$('#tuning h2').toggleClass('hide', false);
		$('#top .SystemButton').toggleClass('pressed', false);
		$('#top .SummaryButton').toggleClass('pressed', false);
		$('#top .CpuidleButton').toggleClass('pressed', false);
		$('#top .CpufreqButton').toggleClass('pressed', false);
		$('#top .SoftwareButton').toggleClass('pressed', false);
		$('#top .DeviceButton').toggleClass('pressed', false);
		$('#top .TuningButton').toggleClass('pressed', true);
		$('#top .AllButton').toggleClass('pressed', false);
}
function toggleAll() {
		$('#system table').toggleClass('hide', false);
		$('#system h2').toggleClass('hide', false);
		$('#summary table').toggleClass('hide', false);
		$('#summary h2').toggleClass('hide', false);
		$('#summary p').toggleClass('hide', false);
		$('#cpuidle table').toggleClass('hide', false);
		$('#cpuidle h2').toggleClass('hide', false);
		$('#cpufreq table').toggleClass('hide', false);
		$('#cpufreq h2').toggleClass('hide', false);
		$('#software table').toggleClass('hide', false);
		$('#software h2').toggleClass('hide', false);
		$('#device table').toggleClass('hide', false);
		$('#device h2').toggleClass('hide', false);
		$('#device p').toggleClass('hide', false);
		$('#tuning table').toggleClass('hide', false);
		$('#tuning h2').toggleClass('hide', false);
		$('#top .SystemButton').toggleClass('pressed', false);
		$('#top .SummaryButton').toggleClass('pressed', false);
		$('#top .CpuidleButton').toggleClass('pressed', false);
		$('#top .CpufreqButton').toggleClass('pressed', false);
		$('#top .SoftwareButton').toggleClass('pressed', false);
		$('#top .DeviceButton').toggleClass('pressed', false);
		$('#top .TuningButton').toggleClass('pressed', false);
		$('#top .AllButton').toggleClass('pressed', true);
}
</script>
<style type=\"text/css\">
table
{
	background-color: #F8F8F8;
	color: black;
}

th
{
	text-align: right;
}
th.device
{
	text-align: left;
}
th.process
{
	text-align: left;
}

th.tunable
{
	text-align: left;
}

td.package_odd
{
	background-color: #E0ffE0;
	color: black;
	text-align: right;
}
td.package_even
{
	background-color: #F0ffF0;
	color: black;
	text-align: right;
}

td.core_even
{
	background-color: #F0ffF0;
	color: black;
	text-align: right;
}

td.core_odd
{
	background-color: #E0E0ff;
	color: black;
	text-align: right;
}

td.cpu_even_freq
{
	background-color: #E2E2E2;
	color: black;
}

td.cpu_odd_freq
{
	background-color: #F4f4F4;
	color: black;
}

td.cpu_even_even
{
	background-color: #E0E0f0;
	color: black;
	text-align: right;
}

td.cpu_even_odd
{
	background-color: #F0f0F0;
	color: black;
	text-align: right;
}
td.cpu_odd_even
{
	background-color: #E0E0ff;
	color: black;
	text-align: right;
}

td.cpu_odd_odd
{
	background-color: #F0ffF0;
	color: black;
	text-align: right;
}

tr.device_odd
{
	background-color: #E0E0E0;
	color: black;
}
tr.device_even
{
	background-color: #F0f0F0;
	color: black;
}

tr.process_odd
{
	background-color: #E0E0E0;
	color: black;
}
tr.process_even
{
	background-color: #F0f0F0;
	color: black;
}

td.device_power
{
	text-align: right;
}

td.process_power
{
	text-align: right;
}

td.device_util
{
	text-align: right;
}

tr.tunable_odd
{
	background-color: #E0E0E0;
	color: black;
}
tr.tunable_even
{
	background-color: #F0f0F0;
	color: black;
}

tr.tunable_odd_bad
{
	background-color: #FFE0E0;
	color: black;
}
tr.tunable_even_bad
{
	background-color: #FFf0F0;
	color: black;
}

tr.system_odd
{
	background-color: #E0E0E0;
	color: black;
}
tr.system_even
{
	background-color: #F0f0F0;
	color: black;
}

tr.device_odd
{
	background-color: #E0E0E0;
	color: black;
}
tr.device_even
{
	background-color: #F0f0F0;
	color: black;
}

body {
	background-color: #eee; /* Background color */
	color: #222;            /* Foreground color used for text */
	font-family: Helvetica;
	font-size: 14px;
	margin: 0;              /* Amount of negative space around the
                                   outside of the body */
	padding: 0;             /* Amount of negative space around the
                                   inside of the body */
}
#top h1 {
	margin: 0;
	padding: 0;
}
#top h1 a {
	background-color: #ccc;
	border-bottom: 1px solid #666;
	color: #222;
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom,
						from(#ccc), to(#999));
}


#top div {
	height: 30px;
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 1px;
	line-height: 28px;
	border-width:0px 8px 0px 8px;
}
#top div.SystemButton {
	position: absolute;
	top: 7px;
	left: 6px;
}
#top div.SummaryButton {
	position: absolute;
	top: 7px;
	left: 160px;
}
#top div.CpuidleButton {
	position: absolute;
	top: 7px;
	left: 320px;
}
#top div.CpufreqButton {
	position: absolute;
	top: 7px;
	left: 480px;
}
#top div.SoftwareButton {
	position: absolute;
	top: 7px;
	left: 640px;
}
#top div.DeviceButton {
	position: absolute;
	top: 7px;
	left: 800px;
}
#top div.TuningButton {
	position: absolute;
	top: 7px;
	left: 960px;
}
#top div.AllButton {
	position: absolute;
	top: 7px;
	left: 1120px;
}
div.pressed {
	background-color: #000000;
	border: 1px solid #000000;
	color: #000000;
	display: block;
	border-width:0px 8px 0px 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}
table.hide {
	display: none;
}
h2.hide {
	display: none;
}
p.hide {
	display: none
}
</style>
</head>

<body>

<div id='top'>
<h1><a href='#top'>&nbsp;</a></h1>
</div>

